<ion-header no-border class="header-container">
  <ion-navbar hideBackButton transparent>
    <ion-buttons (click)="close()" left>
      <button ion-button class="header-btn header-color" icon-start>
         <img src="assets/ht3/ht3/img/common/home_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button round class="header-title header-color">
        {{itemTarget.ztitle}}&nbsp;&gt;&nbsp;<span [innerHTML]="itemTarget['ptitle']"></span>&nbsp;<span class="header-num">({{itemTarget.pnum}}회기&nbsp;{{pgConfig.sceneNumber}}/{{pgConfig.sceneMaxNumber}})</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn mute-color" *ngIf="pgConfig.volumeState == '0'" (click)="changeVolumeState()">
        <img src="assets/ht3/ht3/img/common/mute_btn.png" alt="">
      </button>
      <button ion-button class="header-btn sound-color" *ngIf="pgConfig.volumeState == '1'" (click)="changeVolumeState()">
        <img src="assets/ht3/ht3/img/common/sound_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn header-color" *ngIf="item && item.ht_audio != ''" (click)="playSound(item.ht_base_audio, item.ht_pcode, item.ht_audio)">
        <img src="assets/ht3/ht3/img/common/play_btn.png" alt="">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="title" *ngIf="item && item['ht_title'] != ''" [innerHTML]="item['ht_title']"></div>
</ion-header>

<ion-content no-padding fullscreen>

  <div class="hcct001-1" *ngIf="item && item.ht_tpcode == 'hcct001-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-2" *ngIf="item && item.ht_tpcode == 'hcct001-2'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-3" *ngIf="item && item.ht_tpcode == 'hcct001-3'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-4" *ngIf="item && item.ht_tpcode == 'hcct001-4'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct002" *ngIf="item && item.ht_tpcode == 'hcct002'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image2'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image2']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct003" *ngIf="item && item.ht_tpcode == 'hcct003'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="center-text">
             <div *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
             <div *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
             <div *ngIf="item['ht_text3'] != ''" [innerHTML]="item['ht_text3']"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct005'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006-1" *ngIf="item && item.ht_tpcode == 'hcct005-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct006'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006-1" *ngIf="item && item.ht_tpcode == 'hcct006-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct007" *ngIf="item && item.ht_tpcode == 'hcct007'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct008" *ngIf="item && item.ht_tpcode == 'hcct008'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct009" *ngIf="item && item.ht_tpcode == 'hcct009'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_tpimage'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct030" *ngIf="item && item.ht_tpcode == 'hcst001'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="20%" text-right>
                  <div class="round_line">
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[1]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[1]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[2]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[2]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[3]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[3]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[4]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[4]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[5]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[5]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                  </div>
                  <div class="round_line">
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[6]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[6]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[7]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[7]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                  </div>
                </td>
                <td width="40%" text-center>
                  <div><img src="assets/ht3/ht3/img/common/body.png" class="achebody"></div>
                  <div text-center><button ion-button [disabled]="dtPg.isTodayAcheBody" (click)="sendTodayAcheBody()">제출하기</button></div>
                </td>
                <td width="20%" text-left>
                  <div class="round_line">
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[8]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[8]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[9]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[9]"></span></div>
                  </div>
                  <div class="round_line">
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[10]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[10]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[11]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[11]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[12]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[12]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[13]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[13]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[14]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[14]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct011" *ngIf="item && item.ht_tpcode == 'hcst002'">
    <div class="container">  
      <div class="center" text-center>
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-title">
            <span class="first-text">통증 없음</span>
            <span class="center-text">보통</span>
            <span class="last-text">극심한 통증</span>
          </div>
          <div class="bottom-box">
            <ul radio-group class="ache-selector" [(ngModel)]="pgConfig.countTodayAcheRating">
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache0" value="0"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache1" value="1"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache2" value="2"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache3" value="3"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache4" value="4"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache5" value="5"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache6" value="6"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache7" value="7"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache8" value="8"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache9" value="9"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache10" value="10"></ion-radio></li>
            </ul>
          </div>
          <div class="bottom-btn" text-center><button ion-button [disabled]="pgConfig.isTodayAcheRating" (click)="sendTodayAcheRating();">제출하기</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct017" *ngIf="item && item.ht_tpcode == 'hcct017'">
    <div class="container">
      <div text-center><b><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span>님의 통증 부위 :</b>
        <span *ngIf="dtPg.isTodayAcheBody" [innerHTML]="pgConfig.textTodayAcheBody[dtPg.selectTodayAcheBody[1]]"></span>,
        <span *ngIf="dtPg.isTodayAcheBody" [innerHTML]="pgConfig.textTodayAcheBody[dtPg.selectTodayAcheBody[2]]"></span>,
        <span *ngIf="dtPg.isTodayAcheBody" [innerHTML]="pgConfig.textTodayAcheBody[dtPg.selectTodayAcheBody[3]]"></span>
      </div>
      <canvas #lineCanvas></canvas>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst017'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[1]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[1]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[2]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[2]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[3]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[3]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[4]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[4]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[5]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[5]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[6]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[6]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[7]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[7]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[8]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[8]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[9]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[9]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput17" [(ngModel)]="dtPg.resultUcInput17[10]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput17[10]"></span></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput17" (click)="sendUcInput17()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcst018'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text">
            <div><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div><br>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[1]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[1]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[2]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[2]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[3]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[3]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[4]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[4]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[5]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[5]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[6]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[6]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[7]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[7]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[8]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[8]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[9]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[9]"></span></ion-badge>
            <ion-badge class="strong" *ngIf="dtPg.resultUcInput17[10]" primary color="light"><span [innerHTML]="dtPg.textUcInput17[10]"></span></ion-badge>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst019'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="30%">
                  <img src="assets/ht3/ht3/img/common/p21_1.png">
                </td>
                <td width="70%" radio-group [(ngModel)]="dtPg.resultUcInput19">
                  <div><ion-radio [disabled]="dtPg.isUcInput19" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput19[1]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput19" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput19[2]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput19" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput19[3]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput19" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput19[4]"></span></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput19" (click)="sendUcInput19()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst029'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[1]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[1]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[2]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[2]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[3]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[3]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[4]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[4]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[5]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[5]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[6]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[6]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[7]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[7]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[8]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[8]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[9]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[9]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[10]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[10]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[11]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[11]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[12]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[12]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[13]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[13]"></span></div>
                </td>
                <td width="60%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[14]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[14]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="40%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput29" [(ngModel)]="dtPg.resultUcInput29[15]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput29[15]"></span></div>
                </td>
                <td width="60%">
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput29" (click)="sendUcInput29()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst030'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[1]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[1]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[2]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[2]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[3]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[3]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[4]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[4]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[5]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[5]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[6]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[6]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[7]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[7]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[8]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[8]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[9]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[9]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[10]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[10]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[11]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[11]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[12]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[12]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[13]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[13]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[14]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[14]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[15]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[15]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[16]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[16]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[17]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[17]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[18]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[18]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[19]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[19]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[20]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[20]"></span></div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[21]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[21]"></span></div>
                </td>
                <td width="50%">
                  <div><ion-checkbox [disabled]="dtPg.isUcInput30" [(ngModel)]="dtPg.resultUcInput30[22]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput30[22]"></span></div>
                </td>
              </tr>

            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput30" (click)="sendUcInput30()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst031'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td text-center height="45"><div class="round_line">큰 노력이 필요 없는 활동</div></td>
              </tr>
              <tr>
                <td text-center>
                  <ion-badge *ngIf="dtPg.resultUcInput29[1]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[1]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[2]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[2]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[3]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[3]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[4]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[4]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[5]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[5]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[6]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[6]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[7]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[7]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[8]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[8]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[9]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[9]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[10]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[10]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[11]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[11]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[12]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[12]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[13]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[13]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[14]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[14]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput29[15]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[15]"></span></ion-badge>
                </td>
              </tr>
              <tr>
                <td text-center height="45"><div class="round_line">신체움직임, 집중이 필요한 활동</div></td>
              </tr>
              <tr>
                <td text-center>
                  <ion-badge *ngIf="dtPg.resultUcInput30[1]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[1]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[2]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[2]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[3]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[3]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[4]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[4]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[5]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[5]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[6]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[6]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[7]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[7]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[8]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[8]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[9]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[9]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[10]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[10]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[11]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[11]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[12]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[12]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[13]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[13]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[14]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[14]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[15]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[15]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[16]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[16]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[17]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[17]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[18]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[18]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[19]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[19]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[20]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput29[20]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[21]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[21]"></span></ion-badge>
                  <ion-badge *ngIf="dtPg.resultUcInput30[22]" class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput30[22]"></span></ion-badge>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst033'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="30%">
                  <img src="assets/ht3/ht3/img/common/p21_2.png">
                </td>
                <td width="70%" radio-group [(ngModel)]="dtPg.resultUcInput33">
                  <div><ion-radio [disabled]="dtPg.isUcInput33" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput33[1]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput33" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput33[2]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput33" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput33[3]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput33" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput33[4]"></span></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput33" (click)="sendUcInput33()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst040'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
         <div class="top-text"><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span> <span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  1. <span class="strong" *ngIf="dtPg1st.isUcAlarm26">{{dtPg1st.resultUcAlarm26.ampm}} {{dtPg1st.resultUcAlarm26.hour}}시 {{dtPg1st.resultUcAlarm26.min}}분</span> 에
                </td>
              </tr>
              <tr>
                <td>
                  2. <span class="strong" *ngIf="dtPg1st.isUcInput27" [innerHTML]="dtPg1st.textUcInput27[dtPg1st.resultUcInput27]"></span> 에서
                </td>
              </tr>
              <tr>
                <td>
                  3. <span class="strong" *ngIf="dtPg1st.isUcInput28" [innerHTML]="dtPg1st.textUcInput28[dtPg1st.resultUcInput28]"></span> (을)를 입고 이완훈련을 하겠습니다. 
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006-1" *ngIf="item && item.ht_tpcode == 'hcst041'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''">
            <span [innerHTML]="item['ht_text1']"></span><br><br>
            <button ion-button *ngIf="item['ht_text2'] != ''" (click)="openUrl(item['ht_text2'])">근육 이완 오디오 이동</button><br>
            <button ion-button *ngIf="item['ht_text3'] != ''" (click)="openUrl(item['ht_text3'])">동물 이완 오디오 이동</button><br>
            <button ion-button *ngIf="item['ht_text4'] != ''" (click)="openUrl(item['ht_text4'])">장면 이완 오디오 이동</button>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst043'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="30%">
                  <img src="assets/ht3/ht3/img/common/p21_3.png">
                </td>
                <td width="70%" radio-group [(ngModel)]="dtPg.resultUcInput43">
                  <div><ion-radio [disabled]="dtPg.isUcInput43" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput43[1]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput43" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput43[2]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput43" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput43[3]"></span></div>
                  <div><ion-radio [disabled]="dtPg.isUcInput43" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput43[4]"></span></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput43" (click)="sendUcInput43()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst045'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text">
            <span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span>
            <span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span>
          </div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="45%" text-center>
                  <div class="round_line">돌발통증에 대처하기</div>
                </td>
                <td width="10%"></td>
                <td width="45%" text-center>
                  <div class="round_line">지속통증에 대처하기</div>
                </td>
              </tr>
              <tr>
                <td width="45%">
                  <div *ngIf="dtPg2nd.resultUcInput52 == 1 || dtPg2nd.resultUcInput52 == 3">해피존으로 가기</div>
                  <div *ngIf="dtPg2nd.resultUcInput61 == 1 || dtPg2nd.resultUcInput61 == 3">호흡하기</div>
                  <div *ngIf="dtPg.resultUcInput19 == 1 || dtPg.resultUcInput19 == 3">주의돌리기</div>
                  <div *ngIf="dtPg.resultUcInput33 == 1 || dtPg.resultUcInput33 == 3">재미있는 활동하기</div>
                  <div *ngIf="dtPg.resultUcInput43 == 1 || dtPg.resultUcInput43 == 3">이완하기</div>
                </td>
                <td width="10%"></td>
                <td width="45%">
                  <div *ngIf="dtPg2nd.resultUcInput52 == 2 || dtPg2nd.resultUcInput52 == 3">해피존으로 가기</div>
                  <div *ngIf="dtPg2nd.resultUcInput61 == 2 || dtPg2nd.resultUcInput61 == 3">호흡하기</div>
                  <div *ngIf="dtPg.resultUcInput19 == 2 || dtPg.resultUcInput19 == 3">주의돌리기</div>
                  <div *ngIf="dtPg.resultUcInput33 == 2 || dtPg.resultUcInput33 == 3">재미있는 활동하기</div>
                  <div *ngIf="dtPg.resultUcInput43 == 2 || dtPg.resultUcInput43 == 3">이완하기</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst049'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz1">
                    <div><ion-radio value="1"></ion-radio> 이완하기</div>
                    <div><ion-radio value="2"></ion-radio> 해피존으로 가기</div>
                    <div><ion-radio value="3"></ion-radio> 재미있는 활동하기</div>
                    <div><ion-radio value="4"></ion-radio> 주의 돌리기</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz1">
                    <div><ion-radio disabled value="1"></ion-radio> 이완하기</div>
                    <div><ion-radio disabled value="2"></ion-radio> 해피존으로 가기</div>
                    <div><ion-radio disabled value="3"></ion-radio> 재미있는 활동하기</div>
                    <div><ion-radio disabled value="4"></ion-radio> 주의 돌리기</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz1" (click)="sendUcQuiz1()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst050'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz2">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz2">
                    <div><ion-radio value="1"></ion-radio> 진통제를 먹어도 통증이 계속 심해질 때</div>
                    <div><ion-radio value="2"></ion-radio> 평소와 같은 정도의 지속 통증이 있을 때</div>
                    <div><ion-radio value="3"></ion-radio> 통증이 발생하고 30분쯤 지나자 가라앉았을 때</div>
                    <div><ion-radio value="4"></ion-radio> 평소와 같은 부위에 지속 통증이 있을 때</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz2">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz2">
                    <div><ion-radio disabled value="1"></ion-radio> 진통제를 먹어도 통증이 계속 심해질 때</div>
                    <div><ion-radio disabled value="2"></ion-radio> 평소와 같은 정도의 지속 통증이 있을 때</div>
                    <div><ion-radio disabled value="3"></ion-radio> 통증이 발생하고 30분쯤 지나자 가라앉았을 때</div>
                    <div><ion-radio disabled value="4"></ion-radio> 평소와 같은 부위에 지속 통증이 있을 때</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz2" (click)="sendUcQuiz2()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<div no-border class="footer-container">
    <ion-buttons left class="footer-left">
      <button ion-button class="footer-btn footer-color" (click)="goPrev()">
         <img src="assets/ht3/ht3/img/common/prev_btn.png" alt="">
      </button>
    </ion-buttons>

    <ion-buttons end class="footer-right">
      <button ion-button class="footer-btn footer-color" (click)="goNext()" >
        <img src="assets/ht3/ht3/img/common/next_btn.png" alt="">
      </button>
    </ion-buttons>
</div>

