<ion-header no-border class="header-container">
  <ion-navbar hideBackButton transparent>
    <ion-buttons (click)="close()" left>
      <button ion-button class="header-btn header-color" icon-start>
         <img src="assets/ht3/img/common/home_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button round class="header-title header-color">
        {{itemTarget.ztitle}}&nbsp;&gt;&nbsp;<span [innerHTML]="itemTarget['ptitle']"></span>&nbsp;<span class="header-num">({{itemTarget.pnum}}회기&nbsp;{{pgConfig.sceneNumber}}/{{pgConfig.sceneMaxNumber}})</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn mute-color" *ngIf="pgConfig.volumeState == '0'" (click)="changeVolumeState()">
        <img src="assets/ht3/img/common/mute_btn.png" alt="">
      </button>
      <button ion-button class="header-btn sound-color" *ngIf="pgConfig.volumeState == '1'" (click)="changeVolumeState()">
        <img src="assets/ht3/img/common/sound_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn header-color" *ngIf="item && item.ht_audio != ''" (click)="playSound(item.ht_base_audio, item.ht_pcode, item.ht_audio)">
        <img src="assets/ht3/img/common/play_btn.png" alt="">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="title" *ngIf="item && item['ht_title'] != ''" [innerHTML]="item['ht_title']"></div>
</ion-header>

<ion-content no-padding fullscreen>

  <div class="hcct001-1" *ngIf="item && item.ht_tpcode == 'hcct001-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-2" *ngIf="item && item.ht_tpcode == 'hcct001-2'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-3" *ngIf="item && item.ht_tpcode == 'hcct001-3'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-4" *ngIf="item && item.ht_tpcode == 'hcct001-4'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct002" *ngIf="item && item.ht_tpcode == 'hcct002'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image2'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image2']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct003" *ngIf="item && item.ht_tpcode == 'hcct003'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="center-text">
             <div *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
             <div *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
             <div *ngIf="item['ht_text3'] != ''" [innerHTML]="item['ht_text3']"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct005'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006-1" *ngIf="item && item.ht_tpcode == 'hcct005-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct006'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006-1" *ngIf="item && item.ht_tpcode == 'hcct006-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct007" *ngIf="item && item.ht_tpcode == 'hcct007'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct008" *ngIf="item && item.ht_tpcode == 'hcct008'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct009" *ngIf="item && item.ht_tpcode == 'hcct009'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_tpimage'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct030" *ngIf="item && item.ht_tpcode == 'hcst001'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="20%" text-right>
                  <div class="round_line">
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[1]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[1]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[2]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[2]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[3]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[3]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[4]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[4]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[5]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[5]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                  </div>
                  <div class="round_line">
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[6]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[6]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                    <div><span [innerHTML]="pgConfig.textTodayAcheBody[7]"></span> <ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[7]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox></div>
                  </div>
                </td>
                <td width="40%" text-center>
                  <div><img src="assets/ht3/img/common/body.png" class="achebody"></div>
                  <div text-center><button ion-button [disabled]="dtPg.isTodayAcheBody" (click)="sendTodayAcheBody()">제출하기</button></div>
                </td>
                <td width="20%" text-left>
                  <div class="round_line">
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[8]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[8]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[9]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[9]"></span></div>
                  </div>
                  <div class="round_line">
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[10]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[10]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[11]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[11]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[12]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[12]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[13]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[13]"></span></div>
                    <div><ion-checkbox [disabled]="dtPg.isTodayAcheBody" [(ngModel)]="dtPg.resultTodayAcheBody[14]" (ionChange)="checkTodayAcheBody($event)"></ion-checkbox> <span [innerHTML]="pgConfig.textTodayAcheBody[14]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct011" *ngIf="item && item.ht_tpcode == 'hcst002'">
    <div class="container">  
      <div class="center" text-center>
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-title">
            <span class="first-text">통증 없음</span>
            <span class="center-text">보통</span>
            <span class="last-text">극심한 통증</span>
          </div>
          <div class="bottom-box">
            <ul radio-group class="ache-selector" [(ngModel)]="pgConfig.countTodayAcheRating">
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache0" value="0"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache1" value="1"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache2" value="2"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache3" value="3"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache4" value="4"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache5" value="5"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache6" value="6"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache7" value="7"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache8" value="8"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache9" value="9"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayAcheRating" class="ache10" value="10"></ion-radio></li>
            </ul>
          </div>
          <div class="bottom-btn" text-center><button ion-button [disabled]="pgConfig.isTodayAcheRating" (click)="sendTodayAcheRating();">제출하기</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct017" *ngIf="item && item.ht_tpcode == 'hcct017'">
    <div class="container">
      <div text-center><b><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span>님의 통증 부위 :</b>
        <span *ngIf="dtPg.isTodayAcheBody" [innerHTML]="pgConfig.textTodayAcheBody[dtPg.selectTodayAcheBody[1]]"></span>,
        <span *ngIf="dtPg.isTodayAcheBody" [innerHTML]="pgConfig.textTodayAcheBody[dtPg.selectTodayAcheBody[2]]"></span>,
        <span *ngIf="dtPg.isTodayAcheBody" [innerHTML]="pgConfig.textTodayAcheBody[dtPg.selectTodayAcheBody[3]]"></span>
      </div>
      <canvas #lineCanvas></canvas>
    </div>
  </div>

  <div class="hcct004" *ngIf="item && item.ht_tpcode == 'hcct004'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
        </div>
      </div>
      <div class="center">
        <div class="center-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst008'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[1]"></ion-checkbox> 나는 아프기 때문에 모두가 나를 배려해야 한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[2]"></ion-checkbox> 의사 말을 잘 들으면 통증이 줄어야 한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[3]"></ion-checkbox> 의료진은 나를 진심으로 대해야 한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[4]"></ion-checkbox> 나는 어제 잠을 잘 잤기 때문에 통증이 줄어야 한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[5]"></ion-checkbox> 의료진은 내가 통증이 심하기 때문에 나를 다른 환자보다 우선시 해야한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[6]"></ion-checkbox> 모두가 내가 아픈티를 내지 않아도 내 통증을 신경 써야 한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[7]"></ion-checkbox> 나는 식단 조절을 하기 때문에 건강해야 한다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[8]"></ion-checkbox> 다른 사람들은 나의 건강에 대해서 함부로 말해서는 안된다.
                </td>
              </tr>
              <tr>
                <td>
                  <ion-checkbox [disabled]="dtPg.isUcInput8" [(ngModel)]="dtPg.resultUcInput8[9]"></ion-checkbox> 의료진의 말을 잘 듣는 사람들은 완치될 것이다.
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput8" (click)="sendUcInput8()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcst009'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht3/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text">
            <div><span class="strong" [innerHTML]="pgConfig.userInfo['name']"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
            <br>
            <div class="strong">나에 대한 당위성 : <span [innerHTML]="dtPg.selectUcInput8[1]"></span> / 3</div>
            <div class="strong">타인에 대한 당위성 : <span [innerHTML]="dtPg.selectUcInput8[2]"></span> / 3</div>
            <div class="strong">세상에 대한 당위성 : <span [innerHTML]="dtPg.selectUcInput8[3]"></span> / 3</div>
            <br>
            <div *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst024'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput24">
                    <div><ion-radio [disabled]="dtPg.isUcInput24" value="1"></ion-radio> 나는 착한 사람이기 때문에 병에 안 걸 릴 것이다.</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput24" value="2"></ion-radio> 나의 가족은 유전병이 없기 때문에 병에 안 걸릴 것이다.</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput24" value="3"></ion-radio> 나는 건강을 꾸준히 챙겼기 때문에 병에 걸리지 않을 것이다.</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput24" (click)="sendUcInput24()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst026'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput26">
                    <div><ion-radio [disabled]="dtPg.isUcInput26" value="1"></ion-radio> 타인에 대한 당위성</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput26" value="2"></ion-radio> 나에 대한 당위성</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput26" value="3"></ion-radio> 세상에 대한 당위성</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput26" (click)="sendUcInput26()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst040'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput40">
                    <div><ion-radio [disabled]="dtPg.isUcInput40" value="1"></ion-radio> 나는 나랑 가까운 모든 사람으로부터 사랑 받아야 한다.</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput40" value="2"></ion-radio> 내 자식들은 내 말을 들어야 한다.</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput40" value="3"></ion-radio> 모든 사람들이 내가 아프기 때문에 나를 배려해야 한다.</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput40" (click)="sendUcInput40()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst042'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput42">
                    <div><ion-radio [disabled]="dtPg.isUcInput42" value="1"></ion-radio> 타인에 대한 당위성</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput42" value="2"></ion-radio> 나에 대한 당위성</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput42" value="3"></ion-radio> 세상에 대한 당위성</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput42" (click)="sendUcInput42()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst052'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput52">
                    <div><ion-radio [disabled]="dtPg.isUcInput52" value="1"></ion-radio> 사람들은 나를 배려해야 한다.</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput52" value="2"></ion-radio> 나는 행복해야 한다.</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput52" value="3"></ion-radio> 착한 사람은 병에 걸리지 않는다.</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput52" (click)="sendUcInput52()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst054'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput54">
                    <div><ion-radio [disabled]="dtPg.isUcInput54" value="1"></ion-radio> 타인에 대한 당위성</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput54" value="2"></ion-radio> 나에 대한 당위성</div>
                    <div><ion-radio [disabled]="dtPg.isUcInput54" value="3"></ion-radio> 세상에 대한 당위성</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput54" (click)="sendUcInput54()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst059'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz1">
                    <div><ion-radio value="1"></ion-radio> 누군가에 대한 걱정이다</div>
                    <div><ion-radio value="2"></ion-radio> <b>누군가가 무조건 이래야 한다</b>는 믿음이다.</div>
                    <div><ion-radio value="3"></ion-radio> 무조건 잘못된 믿음이다.</div>
                    <div><ion-radio value="4"></ion-radio> 통증에 대한 믿음이다.</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz1">
                    <div><ion-radio disabled value="1"></ion-radio> 누군가에 대한 걱정이다</div>
                    <div><ion-radio disabled value="2"></ion-radio> <b>누군가가 무조건 이래야 한다</b>는 믿음이다.</div>
                    <div><ion-radio disabled value="3"></ion-radio> 무조건 잘못된 믿음이다.</div>
                    <div><ion-radio disabled value="4"></ion-radio> 통증에 대한 믿음이다.</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz1" (click)="sendUcQuiz1()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst060'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz2">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz2">
                    <div><ion-radio value="1"></ion-radio> 긍정적인 생각하기</div>
                    <div><ion-radio value="2"></ion-radio> 반박하기</div>
                    <div><ion-radio value="3"></ion-radio> 상상하기</div>
                    <div><ion-radio value="4"></ion-radio> 역할연기 하기</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz2">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz2">
                    <div><ion-radio disabled value="1"></ion-radio> 긍정적인 생각하기</div>
                    <div><ion-radio disabled value="2"></ion-radio> 반박하기</div>
                    <div><ion-radio disabled value="3"></ion-radio> 상상하기</div>
                    <div><ion-radio disabled value="4"></ion-radio> 역할연기 하기</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz2" (click)="sendUcQuiz2()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<div no-border class="footer-container">
    <ion-buttons left class="footer-left">
      <button ion-button class="footer-btn footer-color" (click)="goPrev()">
         <img src="assets/ht3/img/common/prev_btn.png" alt="">
      </button>
    </ion-buttons>

    <ion-buttons end class="footer-right">
      <button ion-button class="footer-btn footer-color" (click)="goNext()" >
        <img src="assets/ht3/img/common/next_btn.png" alt="">
      </button>
    </ion-buttons>
</div>

