<ion-header no-border class="header-container">
  <ion-navbar hideBackButton transparent>
    <ion-buttons (click)="close()" left>
      <button ion-button class="header-btn header-color" icon-start>
         <img src="assets/ht1/ht1/img/common/home_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button round class="header-title header-color">
        {{itemTarget.ztitle}}&nbsp;&gt;&nbsp;<span [innerHTML]="itemTarget['ptitle']"></span>&nbsp;<span class="header-num">({{itemTarget.pnum}}회기&nbsp;{{pgConfig.sceneNumber}}/{{pgConfig.sceneMaxNumber}})</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn mute-color" *ngIf="pgConfig.volumeState == '0'" (click)="changeVolumeState()">
        <img src="assets/ht1/ht1/img/common/mute_btn.png" alt="">
      </button>
      <button ion-button class="header-btn sound-color" *ngIf="pgConfig.volumeState == '1'" (click)="changeVolumeState()">
        <img src="assets/ht1/ht1/img/common/sound_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn header-color" *ngIf="item && item.ht_audio != ''" (click)="playSound(item.ht_base_audio, item.ht_pcode, item.ht_audio)">
        <img src="assets/ht1/ht1/img/common/play_btn.png" alt="">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="title" *ngIf="item && item['ht_title'] != ''" [innerHTML]="item['ht_title']"></div>
</ion-header>

<ion-content no-padding fullscreen>

  <div class="hcct001-1" *ngIf="item && item.ht_tpcode == 'hcct001-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-2" *ngIf="item && item.ht_tpcode == 'hcct001-2'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-3" *ngIf="item && item.ht_tpcode == 'hcct001-3'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-4" *ngIf="item && item.ht_tpcode == 'hcct001-4'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct002" *ngIf="item && item.ht_tpcode == 'hcct002'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image2'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image2']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct003" *ngIf="item && item.ht_tpcode == 'hcct003'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct005'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct006'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006-1" *ngIf="item && item.ht_tpcode == 'hcct006-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct007" *ngIf="item && item.ht_tpcode == 'hcct007'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct008" *ngIf="item && item.ht_tpcode == 'hcct008'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct009" *ngIf="item && item.ht_tpcode == 'hcct009'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_tpimage'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct010" *ngIf="item && item.ht_tpcode == 'hcct010'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct011" *ngIf="item && item.ht_tpcode == 'hcct011' && item.ht_userdata == '0'">
    <div class="container">  
      <div class="center" text-center>
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-title">
            <span class="first-text">매우 나쁨</span>
            <span class="center-text">보통</span>
            <span class="last-text">매우 좋음</span>
          </div>
          <div class="bottom-box">
            <ul radio-group class="feel-selector" [(ngModel)]="pgConfig.countTodayFeelRating">
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel0" value="0"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel1" value="1"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel2" value="2"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel3" value="3"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel4" value="4"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel5" value="5"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel6" value="6"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel7" value="7"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel8" value="8"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel9" value="9"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel10" value="10"></ion-radio></li>
            </ul>
          </div>
          <div class="bottom-btn" text-center><button ion-button [disabled]="pgConfig.isTodayFeelRating" (click)="sendTodayFeelRating();">제출하기</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct017" *ngIf="item && item.ht_tpcode == 'hcct017'">
    <div class="container">
      <canvas #lineCanvas></canvas>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst011'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="25%"><span class="strong">1. 언제</span></td>
                <td width="25%"><span class="strong">2. 누구와</span></td>
                <td width="25%"><span class="strong">3. 어떤 일이</span></td>
                <td width="25%"><span class="strong">4. 결과</span></td>
              </tr>
              <tr>
                <td width="25%"><span>치료 후 직장에 복귀하려고 할 때</span></td>
                <td width="25%"><span>해당 없음</span></td>
                <td width="25%"><span>항암 치료와 직장 생활을 병행하기 어려움</span></td>
                <td width="25%"><span>어떻게 할지 고민함</span></td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst012'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="35">
                   <ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput1[1]"></span></ion-badge>
                </td>
              </tr>
              <tr>
                <td height="35">
                   <ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput1[2]"></span></ion-badge>
                </td>
              </tr>
              <tr>
                <td height="35">
                   <ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput1[3]"></span></ion-badge>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst013'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25" colspan="2">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td width="50%" text-center><span class="strong">장점</span></td>
                <td width="50%" text-center><span class="strong">단점</span></td>
              </tr>
              <tr>
                <td width="50%">
                  <table width="100%">
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="1" [(ngModel)]="dtPg.resultUcInput13[1]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[1]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="2" [(ngModel)]="dtPg.resultUcInput13[2]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[2]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="3" [(ngModel)]="dtPg.resultUcInput13[3]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[3]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="4" [(ngModel)]="dtPg.resultUcInput13[4]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[4]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="5" [(ngModel)]="dtPg.resultUcInput13[5]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[5]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="6" [(ngModel)]="dtPg.resultUcInput13[6]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[6]"></span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="50%">
                  <table width="100%">
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="7" [(ngModel)]="dtPg.resultUcInput13[7]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[7]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="8" [(ngModel)]="dtPg.resultUcInput13[8]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[8]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="9" [(ngModel)]="dtPg.resultUcInput13[9]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[9]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="10" [(ngModel)]="dtPg.resultUcInput13[10]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[10]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="11" [(ngModel)]="dtPg.resultUcInput13[11]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[11]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput13" value="12" [(ngModel)]="dtPg.resultUcInput13[12]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[12]"></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput13" (click)="sendUcInput13()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst014'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25" colspan="2">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td width="50%" text-center><span class="strong">장점</span></td>
                <td width="50%" text-center><span class="strong">단점</span></td>
              </tr>
              <tr>
                <td width="50%">
                  <table width="100%">
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="1" [(ngModel)]="dtPg.resultUcInput14[1]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[1]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="2" [(ngModel)]="dtPg.resultUcInput14[2]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[2]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="3" [(ngModel)]="dtPg.resultUcInput14[3]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[3]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="4" [(ngModel)]="dtPg.resultUcInput14[4]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[4]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="5" [(ngModel)]="dtPg.resultUcInput14[5]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[5]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="6" [(ngModel)]="dtPg.resultUcInput14[6]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[6]"></span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="50%">
                  <table width="100%">
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="7" [(ngModel)]="dtPg.resultUcInput14[7]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[7]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="8" [(ngModel)]="dtPg.resultUcInput14[8]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[8]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="9" [(ngModel)]="dtPg.resultUcInput14[9]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[9]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="10" [(ngModel)]="dtPg.resultUcInput14[10]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[10]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="11" [(ngModel)]="dtPg.resultUcInput14[11]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[11]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput14" value="12" [(ngModel)]="dtPg.resultUcInput14[12]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[12]"></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput14" (click)="sendUcInput14()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst015'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25" colspan="2">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td width="50%" text-center><span class="strong">장점</span></td>
                <td width="50%" text-center><span class="strong">단점</span></td>
              </tr>
              <tr>
                <td width="50%">
                  <table width="100%">
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="1" [(ngModel)]="dtPg.resultUcInput15[1]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[1]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="2" [(ngModel)]="dtPg.resultUcInput15[2]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[2]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="3" [(ngModel)]="dtPg.resultUcInput15[3]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[3]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="4" [(ngModel)]="dtPg.resultUcInput15[4]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[4]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="5" [(ngModel)]="dtPg.resultUcInput15[5]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[5]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="6" [(ngModel)]="dtPg.resultUcInput15[6]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[6]"></span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="50%">
                  <table width="100%">
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="7" [(ngModel)]="dtPg.resultUcInput15[7]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[7]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="8" [(ngModel)]="dtPg.resultUcInput15[8]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[8]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="9" [(ngModel)]="dtPg.resultUcInput15[9]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[9]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="10" [(ngModel)]="dtPg.resultUcInput15[10]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[10]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="11" [(ngModel)]="dtPg.resultUcInput15[11]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[11]"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <ion-checkbox [disabled]="dtPg.isUcInput15" value="12" [(ngModel)]="dtPg.resultUcInput15[12]"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput2[12]"></span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput15" (click)="sendUcInput15()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst016'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput16">
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput1[1]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput1[2]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput1[3]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput16" (click)="sendUcInput16()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst017'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="dtPg.resultUcInput16 == 1">
              <tr>
                <td height="25">
                  <div class="strong round_line" [innerHTML]="dtPg.textUcInput1[1]"></div>
                </td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 1: 직장 상사에 연락하고 약속 날짜를 잡는다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 2: 직접 만나서 사정을 이야기한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 3: 근무 날짜 및 조건을 협의한다.</span></ion-badge></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst018'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="dtPg.resultUcInput16 == 2">
              <tr>
                <td height="25">
                  <div class="strong round_line" [innerHTML]="dtPg.textUcInput1[2]"></div>
                </td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 1: 복귀를 미룰 수 있는지 사내 규정을 확인한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 2: 직장 상사에 연락한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 3: 사정을 설명한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 4: 3개월 뒤 다시 이야기하기로 한다.</span></ion-badge></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst019'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="dtPg.resultUcInput16 == 3">
              <tr>
                <td height="25">
                  <div class="strong round_line" [innerHTML]="dtPg.textUcInput1[3]"></div>
                </td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 1: 아르바이트 채용 웹페이지에 접속한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 2: 채용 공고를 살펴본다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 3: 건강상태를 고려하여 현실적으로 가능한 일자리를 찾는다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 4: 적혀진 연락처를 통해 면접 날짜를 잡는다.</span></ion-badge></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014-1" *ngIf="item && item.ht_tpcode == 'hcst020'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="dtPg.resultUcInput16 == 1">
              <tr>
                <td height="25">
                  <div class="strong round_line" [innerHTML]="dtPg.textUcInput1[1]"></div>
                </td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 1: 직장 상사에 연락하고 약속 날짜를 잡는다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 2: 직접 만나서 사정을 이야기한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 3: 근무 날짜 및 조건을 협의한다.</span></ion-badge></td>
              </tr>
              <tr>
                 <td height="35" text-center>
                   <div *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.resultUcInput16 == 2">
              <tr>
                <td height="25" colspan="3">
                  <div class="strong round_line" [innerHTML]="dtPg.textUcInput1[2]"></div>
                </td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 1: 복귀를 미룰 수 있는지 사내 규정을 확인한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 2: 직장 상사에 연락한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 3: 사정을 설명한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 4: 3개월 뒤 다시 이야기하기로 한다.</span></ion-badge></td>
              </tr>
              <tr>
                 <td height="35" text-center>
                   <div *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.resultUcInput16 == 3">
              <tr>
                <td height="25" colspan="3">
                  <div class="strong round_line" [innerHTML]="dtPg.textUcInput1[3]"></div>
                </td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 1: 아르바이트 채용 웹페이지에 접속한다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 2: 채용 공고를 살펴본다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 3: 건강상태를 고려하여 현실적으로 가능한 일자리를 찾는다.</span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span>계획 4: 적혀진 연락처를 통해 면접 날짜를 잡는다.</span></ion-badge></td>
              </tr>
              <tr>
                 <td height="35" text-center>
                   <div *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst026'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz1">
                    <div><ion-radio value="1"></ion-radio> 파악</div>
                    <div><ion-radio value="2"></ion-radio> 선택</div>
                    <div><ion-radio value="3"></ion-radio> 실천</div>
                    <div><ion-radio value="4"></ion-radio> 평가</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz1">
                    <div><ion-radio disabled value="1"></ion-radio> 파악</div>
                    <div><ion-radio disabled value="2"></ion-radio> 선택</div>
                    <div><ion-radio disabled value="3"></ion-radio> 실천</div>
                    <div><ion-radio disabled value="4"></ion-radio> 평가</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz1" (click)="sendUcQuiz1()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst027'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz2">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz2">
                    <div><ion-radio value="1"></ion-radio> 대안찾기</div>
                    <div><ion-radio value="2"></ion-radio> 선택하기</div>
                    <div><ion-radio value="3"></ion-radio> 실천하기</div>
                    <div><ion-radio value="4"></ion-radio> 평가하기</div>
                    <div><ion-radio value="5"></ion-radio> 파악하기</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz2">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz2">
                    <div><ion-radio disabled value="1"></ion-radio> 대안찾기</div>
                    <div><ion-radio disabled value="2"></ion-radio> 선택하기</div>
                    <div><ion-radio disabled value="3"></ion-radio> 실천하기</div>
                    <div><ion-radio disabled value="4"></ion-radio> 평가하기</div>
                    <div><ion-radio disabled value="5"></ion-radio> 파악하기</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz2" (click)="sendUcQuiz2()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<div no-border class="footer-container">
    <ion-buttons left class="footer-left">
      <button ion-button class="footer-btn footer-color" (click)="goPrev()">
         <img src="assets/ht1/ht1/img/common/prev_btn.png" alt="">
      </button>
    </ion-buttons>

    <ion-buttons end class="footer-right">
      <button ion-button class="footer-btn footer-color" (click)="goNext()" >
        <img src="assets/ht1/ht1/img/common/next_btn.png" alt="">
      </button>
    </ion-buttons>
</div>

