<ion-header no-border class="header-container">
  <ion-navbar hideBackButton transparent>
    <ion-buttons (click)="close()" left>
      <button ion-button class="header-btn header-color" icon-start>
         <img src="assets/ht1/img/common/home_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button round class="header-title header-color">
        {{itemTarget.ztitle}}&nbsp;&gt;&nbsp;<span [innerHTML]="itemTarget['ptitle']"></span>&nbsp;<span class="header-num">({{itemTarget.pnum}}회기&nbsp;{{pgConfig.sceneNumber}}/{{pgConfig.sceneMaxNumber}})</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn mute-color" *ngIf="pgConfig.volumeState == '0'" (click)="changeVolumeState()">
        <img src="assets/ht1/img/common/mute_btn.png" alt="">
      </button>
      <button ion-button class="header-btn sound-color" *ngIf="pgConfig.volumeState == '1'" (click)="changeVolumeState()">
        <img src="assets/ht1/img/common/sound_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn header-color" *ngIf="item && item.ht_audio != ''" (click)="playSound(item.ht_base_audio, item.ht_pcode, item.ht_audio)">
        <img src="assets/ht1/img/common/play_btn.png" alt="">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="title" *ngIf="item && item['ht_title'] != ''" [innerHTML]="item['ht_title']"></div>
</ion-header>

<ion-content no-padding fullscreen>

  <div class="hcct001-1" *ngIf="item && item.ht_tpcode == 'hcct001-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-2" *ngIf="item && item.ht_tpcode == 'hcct001-2'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-3" *ngIf="item && item.ht_tpcode == 'hcct001-3'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-4" *ngIf="item && item.ht_tpcode == 'hcct001-4'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct002" *ngIf="item && item.ht_tpcode == 'hcct002'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image2'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image2']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct003" *ngIf="item && item.ht_tpcode == 'hcct003'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct005'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct006'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct007" *ngIf="item && item.ht_tpcode == 'hcct007'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct008" *ngIf="item && item.ht_tpcode == 'hcct008'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct008" *ngIf="item && item.ht_tpcode == 'hcct008-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct009" *ngIf="item && item.ht_tpcode == 'hcct009'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''"><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''"><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct010" *ngIf="item && item.ht_tpcode == 'hcct010'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct010-1" *ngIf="item && item.ht_tpcode == 'hcct010-1'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="center-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct011" *ngIf="item && item.ht_tpcode == 'hcct011' && item.ht_userdata == '0'">
    <div class="container">  
      <div class="center" text-center>
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-title">
            <span class="first-text">매우 나쁨</span>
            <span class="center-text">보통</span>
            <span class="last-text">매우 좋음</span>
          </div>
          <div class="bottom-box">
            <ul radio-group class="feel-selector" [(ngModel)]="pgConfig.countTodayFeelRating">
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel0" value="0"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel1" value="1"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel2" value="2"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel3" value="3"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel4" value="4"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel5" value="5"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel6" value="6"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel7" value="7"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel8" value="8"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel9" value="9"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel10" value="10"></ion-radio></li>
            </ul>
          </div>
          <div class="bottom-btn" text-center><button ion-button [disabled]="pgConfig.isTodayFeelRating" (click)="sendTodayFeelRating();">제출하기</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct011" *ngIf="item && item.ht_tpcode == 'hcct011' && item.ht_userdata == dtPg.sceneUcFeelRating23">
    <div class="container">  
      <div class="center" text-center>
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-title">
            <span class="first-text">매우 나쁨</span>
            <span class="center-text">보통</span>
            <span class="last-text">매우 좋음</span>
          </div>
          <div class="bottom-box">
            <ul radio-group class="feel-selector" [(ngModel)]="dtPg.resultUcFeelRating23">
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel0" value="0"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel1" value="1"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel2" value="2"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel3" value="3"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel4" value="4"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel5" value="5"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel6" value="6"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel7" value="7"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel8" value="8"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel9" value="9"></ion-radio></li>
              <li><ion-radio [disabled]="dtPg.isUcFeelRating23" class="feel10" value="10"></ion-radio></li>
            </ul>
          </div>
          <div class="bottom-btn" text-center><button ion-button [disabled]="dtPg.isUcFeelRating23" (click)="sendUcFeelRating23();">제출하기</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcct013' && item.ht_userdata == dtPg.sceneUcQuiz1">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table>
              <tr>
                <td>
                  <div radio-group *ngIf="!dtPg.isUcQuiz1" [(ngModel)]="dtPg.resultUcQuiz1">
                    <div><ion-radio value="1"></ion-radio> 생각이란 사건을 받아들이고 해석하는 방식이다.</div>
                    <div><ion-radio value="2"></ion-radio> 자동적 사고는 우리가 알지도 못하는 사이에 감정에 영향을 준다.</div>
                    <div><ion-radio value="3"></ion-radio> 모든 사람은 같은 사건에 대해 비슷한 반응을 보인다.</div>
                    <div><ion-radio value="4"></ion-radio> 스트레스 상황에서 자신의 자동적 사고와 감정을 인지하는 것이 중요하다.</div>
                    <div><ion-radio value="5"></ion-radio> 사람들이 상황을 받아들이고 해석하는 방식에 따라 느끼는 감정도 달라진다.</div>
                  </div>
                  <div radio-group disabled *ngIf="dtPg.isUcQuiz1" [(ngModel)]="dtPg.passUcQuiz1">
                    <div><ion-radio value="1"></ion-radio> 생각이란 사건을 받아들이고 해석하는 방식이다.</div>
                    <div><ion-radio value="2"></ion-radio> 자동적 사고는 우리가 알지도 못하는 사이에 감정에 영향을 준다.</div>
                    <div><ion-radio value="3"></ion-radio> 모든 사람은 같은 사건에 대해 비슷한 반응을 보인다.</div>
                    <div><ion-radio value="4"></ion-radio> 스트레스 상황에서 자신의 자동적 사고와 감정을 인지하는 것이 중요하다.</div>
                    <div><ion-radio value="5"></ion-radio> 사람들이 상황을 받아들이고 해석하는 방식에 따라 느끼는 감정도 달라진다.</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz1" (click)="sendUcQuiz1()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcct013' && item.ht_userdata == dtPg.sceneUcQuiz2">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table>
              <tr>
                <td>
                  <div class="strong round_line">감정에 영향을 미치는 생각을 바꾸기 위해 <b>오늘하루</b>에서 사용하는 기법은 [ &nbsp; &nbsp; ]이다.</div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group *ngIf="!dtPg.isUcQuiz2" [(ngModel)]="dtPg.resultUcQuiz2">
                    <div><ion-radio value="1"></ion-radio> 스트레스 관리</div>
                    <div><ion-radio value="2"></ion-radio> 실천하기</div>
                    <div><ion-radio value="3"></ion-radio> 이완하기</div>
                    <div><ion-radio value="4"></ion-radio> 자기성찰</div>
                    <div><ion-radio value="5"></ion-radio> 생각바꾸기</div>
                  </div>
                  <div radio-group *ngIf="dtPg.isUcQuiz2" [(ngModel)]="dtPg.passUcQuiz2">
                    <div><ion-radio disabled value="1"></ion-radio> 스트레스 관리</div>
                    <div><ion-radio disabled value="2"></ion-radio> 실천하기</div>
                    <div><ion-radio disabled value="3"></ion-radio> 이완하기</div>
                    <div><ion-radio disabled value="4"></ion-radio> 자기성찰</div>
                    <div><ion-radio disabled value="5"></ion-radio> 생각바꾸기</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz2" (click)="sendUcQuiz2()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct015-1" *ngIf="item && item.ht_tpcode == 'hcct015-1' && item.ht_userdata == dtPg.sceneUcData16">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><table width="100%"><tr><td width="20%">이름</td><td width="60%">생각</td><td width="20%">점수</td></tr></table></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="20%" class="strong" text-center>주희</td><td width="60%"><span class="strong" [innerHTML]="dtPg.textUcData[1]"></span></td><td width="20%" text-center>5점</td>
              </tr>
              <tr>
                <td width="20%" class="strong" text-center>승철</td><td width="60%"><span class="strong" [innerHTML]="dtPg.textUcData[4]"></span></td><td width="20%" text-center>0점</td>
              </tr>
              <tr>
                <td width="20%" class="strong" text-center>희진</td><td width="60%"><span class="strong" [innerHTML]="dtPg.textUcData[2]"></span></td><td width="20%" text-center>0점</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcct014' && item.ht_userdata == dtPg.sceneUcInput21">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput21">
                    <div><ion-radio [disabled]="dtPg.isUcInput21" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcData[1]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput21" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcData[2]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput21" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcData[3]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput21" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcData[4]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput21" value="5"></ion-radio> <span [innerHTML]="dtPg.textUcData[5]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput21" (click)="sendUcInput21()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct015" *ngIf="item && item.ht_tpcode == 'hcct015' && item.ht_userdata == dtPg.sceneUcData22">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text" text-center>
            <div class="strong" [innerHTML]="dtPg.textUcData[dtPg.resultUcInput21]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct015" *ngIf="item && item.ht_tpcode == 'hcct015' && item.ht_userdata == dtPg.sceneUcData24">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text">
            <table width="100%">
              <tr>
                <td width="30%" class="strong" text-center>상황</td>
                <td width="50%" class="strong" text-center>자동적 사고</td>
                <td width="20%" class="strong" text-center>기분</td>
              </tr>
            </table>
          </div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td width="30%" text-center>길에서 어떤 사람이<br> 어깨를 치고 감</td>
                <td width="50%" text-center>{{dtPg.textUcData[dtPg.resultUcInput21]}}</td>
                <td width="20%" text-center>{{dtPg.resultUcFeelRating23}}점</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct015" *ngIf="item && item.ht_tpcode == 'hcct015' && item.ht_userdata == dtPg.sceneUcData27">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><table width="100%"><tr><td>생각을 바꾸는 방법</td></tr></table></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td text-center>생각바꾸기 존</td>
              </tr>
              <tr>
                <td text-center>문제해결하기 존</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct017" *ngIf="item && item.ht_tpcode == 'hcct017'">
    <div class="container">
      <canvas #lineCanvas></canvas>
    </div>
  </div>

</ion-content>

<div no-border class="footer-container">
    <ion-buttons left class="footer-left">
      <button ion-button class="footer-btn footer-color" (click)="goPrev()">
         <img src="assets/ht1/img/common/prev_btn.png" alt="">
      </button>
    </ion-buttons>

    <ion-buttons end class="footer-right">
      <button ion-button class="footer-btn footer-color" (click)="goNext()" >
        <img src="assets/ht1/img/common/next_btn.png" alt="">
      </button>
    </ion-buttons>
</div>

