<ion-header no-border class="header-container">
  <ion-navbar hideBackButton transparent>
    <ion-buttons (click)="close()" left>
      <button ion-button class="header-btn header-color" icon-start>
         <img src="assets/ht1/ht1/img/common/home_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button round class="header-title header-color">
        {{itemTarget.ztitle}}&nbsp;&gt;&nbsp;<span [innerHTML]="itemTarget['ptitle']"></span>&nbsp;<span class="header-num">({{itemTarget.pnum}}회기&nbsp;{{pgConfig.sceneNumber}}/{{pgConfig.sceneMaxNumber}})</span>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn mute-color" *ngIf="pgConfig.volumeState == '0'" (click)="changeVolumeState()">
        <img src="assets/ht1/ht1/img/common/mute_btn.png" alt="">
      </button>
      <button ion-button class="header-btn sound-color" *ngIf="pgConfig.volumeState == '1'" (click)="changeVolumeState()">
        <img src="assets/ht1/ht1/img/common/sound_btn.png" alt="">
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="header-btn header-color" *ngIf="item && item.ht_audio != ''" (click)="playSound(item.ht_base_audio, item.ht_pcode, item.ht_audio)">
        <img src="assets/ht1/ht1/img/common/play_btn.png" alt="">
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="title" *ngIf="item && item['ht_title'] != ''" [innerHTML]="item['ht_title']"></div>
</ion-header>

<ion-content no-padding fullscreen>

  <div class="hcct001-1" *ngIf="item && item.ht_tpcode == 'hcct001-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-2" *ngIf="item && item.ht_tpcode == 'hcct001-2'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-3" *ngIf="item && item.ht_tpcode == 'hcct001-3'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct001-4" *ngIf="item && item.ht_tpcode == 'hcct001-4'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct002" *ngIf="item && item.ht_tpcode == 'hcct002'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image2'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image2']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct002-1" *ngIf="item && item.ht_tpcode == 'hcct002-1'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image2'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image2']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct004" *ngIf="item && item.ht_tpcode == 'hcct004'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
        </div>
      </div>
      <div class="center">
        <div class="center-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct003" *ngIf="item && item.ht_tpcode == 'hcct003'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct005'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcct006'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct007" *ngIf="item && item.ht_tpcode == 'hcct007'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct008" *ngIf="item && item.ht_tpcode == 'hcct008'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct009" *ngIf="item && item.ht_tpcode == 'hcct009'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_tpimage'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <div class="top-text" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct010" *ngIf="item && item.ht_tpcode == 'hcct010'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-image" *ngIf="item['ht_image1'] != ''" text-center><img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/{{item.ht_pcode}}/{{item['ht_image1']}}?ver={{item['ht_ver']}}" alt=""></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct011" *ngIf="item && item.ht_tpcode == 'hcct011' && item.ht_userdata == '0'">
    <div class="container">  
      <div class="center" text-center>
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-title">
            <span class="first-text">매우 나쁨</span>
            <span class="center-text">보통</span>
            <span class="last-text">매우 좋음</span>
          </div>
          <div class="bottom-box">
            <ul radio-group class="feel-selector" [(ngModel)]="pgConfig.countTodayFeelRating">
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel0" value="0"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel1" value="1"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel2" value="2"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel3" value="3"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel4" value="4"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel5" value="5"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel6" value="6"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel7" value="7"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel8" value="8"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel9" value="9"></ion-radio></li>
              <li><ion-radio [disabled]="pgConfig.isTodayFeelRating" class="feel10" value="10"></ion-radio></li>
            </ul>
          </div>
          <div class="bottom-btn" text-center><button ion-button [disabled]="pgConfig.isTodayFeelRating" (click)="sendTodayFeelRating();">제출하기</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst012'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[1]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[1]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[2]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[2]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[3]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[3]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[4]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[4]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[5]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[5]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[6]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[6]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[7]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[7]"></span></div>
                  <div><ion-checkbox [disabled]="dtPg.isUcInput12" [(ngModel)]="dtPg.resultUcInput12[8]" (ionChange)="checkUcInput12($event)"></ion-checkbox> <span [innerHTML]="dtPg.textUcInput1[8]"></span></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput12" (click)="sendUcInput12()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcst015'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text">먼저 <span class="strong" [innerHTML]="dtPg.textUcInput1[dtPg.passUcInput12[1]]"></span><br> 입니다.</blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst016'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span [innerHTML]="dtPg.textUcInput1[dtPg.passUcInput12[1]]"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput16">
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[1]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[2]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[3]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[4]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="5"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[5]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="6"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[6]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="7"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[7]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="8"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[8]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="9"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[9]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="10"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[10]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="11"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[11]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="12"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[12]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="13"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[13]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="14"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[14]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="15"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[15]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="16"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[16]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="17"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[17]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="18"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[18]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput16" (click)="sendUcInput16()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst017'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span [innerHTML]="dtPg.textUcInput1[dtPg.passUcInput12[1]]"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput17">
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[1]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[2]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[3]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[4]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="5"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[5]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="6"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[6]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="7"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[7]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="8"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[8]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="9"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[9]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="10"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[10]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="11"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[11]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="12"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[12]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput17" value="13"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[13]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput17" (click)="sendUcInput17()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct006" *ngIf="item && item.ht_tpcode == 'hcst018'">
    <div class="container">
      <div class="left">
        <div class="left-wrap">
          <div class="center-image">
            <img src="{{item['ht_base_image']}}/ht1/{{item['ht_mcode']}}/common/{{item['ht_tpimage']}}?ver={{item['ht_ver']}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right-wrap">
          <blockquote class="center-text">다음은 <span class="strong" [innerHTML]="dtPg.textUcInput1[dtPg.passUcInput12[2]]"></span><br> 입니다.</blockquote>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst019'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span [innerHTML]="dtPg.textUcInput1[dtPg.passUcInput12[2]]"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput19">
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[1]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[2]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[3]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[4]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="5"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[5]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="6"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[6]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="7"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[7]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="8"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[8]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="9"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[9]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="10"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[10]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="11"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[11]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="12"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[12]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="13"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[13]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="14"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[14]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="15"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[15]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="16"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[16]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput16" value="17"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[17]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput19" value="18"></ion-radio> <span [innerHTML]="dtPg.textUcInput2[18]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput19" (click)="sendUcInput19()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst020'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text"><span [innerHTML]="dtPg.textUcInput1[dtPg.passUcInput12[2]]"></span><span *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></span></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="25">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcInput20">
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="1"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[1]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="2"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[2]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="3"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[3]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="4"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[4]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="5"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[5]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="6"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[6]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="7"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[7]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="8"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[8]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="9"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[9]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="10"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[10]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="11"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[11]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="12"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[12]"></span></div>
                    <div><ion-radio [disabled]="dtPg.isUcInput20" value="13"></ion-radio> <span [innerHTML]="dtPg.textUcInput3[13]"></span></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcInput20" (click)="sendUcInput20()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct014" *ngIf="item && item.ht_tpcode == 'hcst021'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%">
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput2[dtPg.resultUcInput16]"></span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput3[dtPg.resultUcInput17]"></span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput2[dtPg.resultUcInput19]"></span></ion-badge></td>
              </tr>
              <tr>
                <td height="35"><ion-badge class="strong" primary color="light"><span [innerHTML]="dtPg.textUcInput3[dtPg.resultUcInput20]"></span></ion-badge></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst029'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz1">
                    <div><ion-radio value="1"></ion-radio> <b>긍정적 자기진술</b>은 의미축소 및 확대에서 벗어나기 위한 기법이다.</div>
                    <div><ion-radio value="2"></ion-radio> <b>긍정적 자기진술</b>은 자신이 잘한 일을 매일매일 기록하는 것이다.</div>
                    <div><ion-radio value="3"></ion-radio> <b>긍정적 자기진술</b>을 위해서는 거창한 선행을 해야 한다.</div>
                    <div><ion-radio value="4"></ion-radio> <b>긍정적 자기진술 기록지</b>는 매일 쓰는 것이 좋다.</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz1">
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz1">
                    <div><ion-radio disabled value="1"></ion-radio> <b>긍정적 자기진술</b>은 의미축소 및 확대에서 벗어나기 위한 기법이다.</div>
                    <div><ion-radio disabled value="2"></ion-radio> <b>긍정적 자기진술</b>은 자신이 잘한 일을 매일매일 기록하는 것이다.</div>
                    <div><ion-radio disabled value="3"></ion-radio> <b>긍정적 자기진술</b>을 위해서는 거창한 선행을 해야 한다.</div>
                    <div><ion-radio disabled value="4"></ion-radio> <b>긍정적 자기진술 기록지</b>는 매일 쓰는 것이 좋다.</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz1" (click)="sendUcQuiz1()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct013" *ngIf="item && item.ht_tpcode == 'hcst030'">
    <div class="container">
      <div class="center">
        <div class="center-wrap">
          <div class="top-text" *ngIf="item['ht_text1'] != ''" [innerHTML]="item['ht_text1']"></div>
          <div class="bottom-text">
            <table width="100%" *ngIf="!dtPg.isUcQuiz2">
              <tr>
                <td height="25">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.resultUcQuiz2">
                    <div><ion-radio value="1"></ion-radio> 확대, 축소</div>
                    <div><ion-radio value="2"></ion-radio> 확대, 확대</div>
                    <div><ion-radio value="3"></ion-radio> 축소, 축소</div>
                    <div><ion-radio value="4"></ion-radio> 축소, 확대</div>
                  </div>
                </td>
              </tr>
            </table>
            <table width="100%" *ngIf="dtPg.isUcQuiz2">
              <tr>
                <td height="25">
                  <div class="strong round_line" *ngIf="item['ht_text2'] != ''" [innerHTML]="item['ht_text2']"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div radio-group [(ngModel)]="dtPg.passUcQuiz2">
                    <div><ion-radio disabled value="1"></ion-radio> 확대, 축소</div>
                    <div><ion-radio disabled value="2"></ion-radio> 확대, 확대</div>
                    <div><ion-radio disabled value="3"></ion-radio> 축소, 축소</div>
                    <div><ion-radio disabled value="4"></ion-radio> 축소, 확대</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="bottom-box">
            <div text-center><button ion-button [disabled]="dtPg.isUcQuiz2" (click)="sendUcQuiz2()">제출하기</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hcct017" *ngIf="item && item.ht_tpcode == 'hcct017'">
    <div class="container">
      <canvas #lineCanvas></canvas>
    </div>
  </div>

</ion-content>

<div no-border class="footer-container">
    <ion-buttons left class="footer-left">
      <button ion-button class="footer-btn footer-color" (click)="goPrev()">
         <img src="assets/ht1/ht1/img/common/prev_btn.png" alt="">
      </button>
    </ion-buttons>

    <ion-buttons end class="footer-right">
      <button ion-button class="footer-btn footer-color" (click)="goNext()" >
        <img src="assets/ht1/ht1/img/common/next_btn.png" alt="">
      </button>
    </ion-buttons>
</div>

