page-rating {
  .head-title {
    margin: 20px auto;
    line-height: 30px;
  }
  .rating-img {
  	margin: 20px auto;
    height: 100px;
    width: 100px;
  }
  .point {
  	font-size: 30px;
  }
  .range {
  	margin-bottom: 10px;
  }
  .button {
  	margin-bottom: 20px;
  }
}
