page-pg36 {
	ion-header {
		.toolbar {
		  position: absolute;
		  .toolbar-background {
		    background: transparent !important;
		    border: 0;
		  }
		}
	}

	ion-footer {
		.toolbar {
		  .toolbar-background {
		    background: transparent !important;
		    border: 0;
		  }
		}
	}
	
	/* 템플릿 2 - 좌:상-텍스트,하-이미지 우:상-텍스트,하-이미지 */
	.hcct002 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				.left-wrap {
					.top-text {
						position: relative;
						top: 100px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}

					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
			.right {
				position: absolute;
				right: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				background-color: #ffebf0;
				.right-wrap {
					.top-text {
						position: relative;
						top: 100px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}
					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
		}
	}

	/* 템플릿 2 - 좌:상-텍스트,하-이미지 우:상-텍스트,하-이미지 */
	.hcct002-1 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				.left-wrap {
					.top-text {
						position: relative;
						top: 70px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}

					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
			.right {
				position: absolute;
				right: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				background-color: #ffebf0;
				.right-wrap {
					.top-text {
						position: relative;
						top: 70px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}
					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
		}
	}

	/* 템플릿 6 - 좌:템플릿 이미지 우:텍스트 */
	.hcct006 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 40%;
				height: 100%;
				.left-wrap {
					.center-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 100%;
							height: auto;
							margin-left: 10px;
						}
					}
				}
			}
			.right {
				flex: 1;
				.right-wrap {
					position: absolute;
					right: 0;
					bottom: 100px;
					width: 60%;
					height: auto;
					.center-text {
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
						margin-left: 10px;
						margin-right: 10px;
						.strong {
							font-size: 1.9rem;
							font-weight: 700;
						}
					}
				}
			}
		}
	}

	/* 템플릿 6 - 좌:템플릿 이미지 우:텍스트 */
	.hcct006-2 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 40%;
				height: 100%;
				.left-wrap {
					.center-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 100%;
							height: auto;
							margin-left: 10px;
						}
					}
				}
			}
			.right {
				flex: 1;
				.right-wrap {
					position: absolute;
					right: 0;
					bottom: 90px;
					width: 60%;
					height: auto;
					.center-text {
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
						.strong {
							font-size: 2.0rem;
							font-weight: 500;
						}
					}

					.left-text {
						font-size: 1.4rem;
						font-weight: 300;
						line-height: 2.6rem;
						margin-top: 10px;
						.strong {
							font-size: 2.0rem;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
	
	/* 템플릿 7 - 좌:템플릿 이미지 우:상-텍스트,하-이미지 */
	.hcct007 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 40%;
				height: 100%;
				.left-wrap {
					.center-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 100%;
							height: auto;
							margin-left: 10px;
						}
					}
				}
			}
			.right {
				flex: 1;
				.right-wrap {
					position: absolute;
					right: 0;
					top: 50px;
					width: 60%;
					height: auto;

					.top-text {
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
						margin-left: 10px;
						margin-right: 10px;
						margin-bottom: 0px;
						padding-bottom: 0px;

						.strong {
							font-size: 1.9rem;
							font-weight: 700;
						}
					}

					.bottom-image {
						img {
							max-width: 50%;
							height: auto;
						}
					}
				}
			}
		}
	}
	
	/* 템플릿 9 - 좌:상-텍스트,하-이미지 우:상-텍스트,하-이미지 */
	.hcct009 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				.left-wrap {
					.top-text {
						position: relative;
						top:60px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}

					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
			.right {
				position: absolute;
				right: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				background-color: #ffebf0;
				.right-wrap {
					.top-text {
						position: relative;
						top:60px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}
					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
		}
	}

	/* 템플릿 9-1 - 좌:상-텍스트,하-이미지 우:상-텍스트,하-이미지 */
	.hcct009-1 {
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		.container {
			position: fixed;
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: row;
			.left {
				position: absolute;
				left: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				.left-wrap {
					.top-text {
						position: relative;
						top:100px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}

					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
			.right {
				position: absolute;
				right: 0;
				flex: 1;
				width: 50%;
				height: 100%;
				background-color: #ffebf0;
				.right-wrap {
					.top-text {
						position: relative;
						top:100px;
						font-size: 1.9rem;
						font-weight: 500;
						line-height: 2.4rem;
						text-align: center;
					}
					.bottom-image {
						position: absolute;
						bottom: 0px;
						img {
							max-width: 60%;
							height: auto;
						}
					}
				}
			}
		}
	}

	/* 템플릿 10 - 제목없음, 상:텍스트 하:표 */
	.hcct010-1 {
		.container {
			display: -webkit-flex;
			display: flex;
			width: 100%;
			height: 100%;
			justify-content:center;
			align-items:center;
			.center {
				.center-wrap {
					.center-image {
						margin-top: 50px;
						img {
							max-width: 85%;
							height: auto;
						}
					}
				}
			}
		}
	}
}